.Gif {
  position: relative;
}

.Gif h4 {
  margin: 0;
}

.Gif img {
  object-fit: contain;
  max-width: 800px;
}

.Gif-button-fav {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}
.Gif-button-fav button {
  background: none;
  color: red;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 18px;
}
