.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.Header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.Header__logo h2 {
  color: #ccffbd;
  font-size: 32px;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 2px solid white;
}
.Header__logo p {
  color: #eeebdd;
}
.Header__buttons {
  display: flex;
  align-items: center;
}
.Header__buttons a:last-child {
  margin-left: 10px;
}
