.spinner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 10px;
}

.search__title {
  padding: 20px 10px;
  color: white;
}

.btn-next-page {
  display: block;
  width: 95%;
  max-width: 300px;
  padding: 10px;
  margin: 20px auto;
  cursor: pointer;
  background: #11698e;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}
