.form {
  width: 100%;
  max-width: 320px;
  margin: auto;
}

.form label {
  display: block;
  font-size: 14px;
  color: white;
}

.form input {
  background: white;
  border: none;
  display: block;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 4px;
  line-height: 2;
  padding: 0 4px;
  font-size: 16px;
  outline: none;
}

.form .btn {
  width: 100%;
  padding: 15px 10px;
  color: white;
  background: #11698e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
